label{
  margin-top: 2.5%;
}

ul{
  list-style: none;
}

#address input{
  margin-bottom: 1%;
}
#order{
  display: none;
}
.address{
  display: none;
}
.printed-address{
  display:
}

#delivery{
  margin-top: 2.5%;
}
